flows.json
[{"id":"de96a13.ceab86","type":"tab","label":"Edit an appointment(as a doctor)","disabled":false,"info":""},{"id":"312d1536.b219ba","type":"tab","label":"Doctor Create Appointment (calendar)","disabled":false,"info":""},{"id":"6a52b8ad.c36108","type":"tab","label":"Delete Appointment","disabled":false,"info":""},{"id":"3a47e2c3.367e0e","type":"tab","label":"Patient Edit Appointment","disabled":false,"info":""},{"id":"aafe6ff6.2b3cc","type":"tab","label":"Create Appointment","disabled":false,"info":""},{"id":"e29c53f2.1fd21","type":"tab","label":"Get patient information(as doctor)","disabled":false,"info":""},{"id":"925ec265.a5425","type":"tab","label":"Get patient information(as registered patient)","disabled":false,"info":""},{"id":"3fb0629f.a5e62e","type":"tab","label":"Delete unregistered patient(as doctor)","disabled":false,"info":""},{"id":"db56141.a9791e8","type":"tab","label":"Change unregistered patient information(as doctor)","disabled":false,"info":""},{"id":"b8765d15.2e193","type":"tab","label":"Change patient medical folder information(as doctor)","disabled":false,"info":""},{"id":"a081faba.f15178","type":"tab","label":"Edit Folder(as a doctor)","disabled":false,"info":""},{"id":"2053ecd1.4abcd4","type":"tab","label":"Access Folder Of Unregistered Patient(as a doctor)","disabled":false,"info":""},{"id":"dc0788b9.cfb5d8","type":"tab","label":"Access Folder Of Registered Patient(as a doctor)","disabled":false,"info":""},{"id":"bc586080.5c9d8","type":"tab","label":"Get Appointments(as a doctor)","disabled":false,"info":""},{"id":"7e8e7e3e.24bd8","type":"tab","label":"Doctor Create Patient","disabled":false,"info":""},{"id":"5ac7b397.1aeccc","type":"tab","label":"Request access for medical folder modification","disabled":false,"info":""},{"id":"267d28c2.56b458","type":"tab","label":"Respond to doctor's request for access to medical folder modification","disabled":false,"info":""},{"id":"48fb8269.39534c","type":"tab","label":"Request appointment ","disabled":false,"info":""},{"id":"7220ec39.dac294","type":"tab","label":"Respond to patient's appointment request ","disabled":false,"info":""},{"id":"2392b033.6ff37","type":"tab","label":"Review appointments","disabled":false,"info":""},{"id":"40c567a1.b88058","type":"tab","label":"Feature 1","disabled":false,"info":""},{"id":"99789eb7.c44a5","type":"tab","label":"Feature 2","disabled":false,"info":""},{"id":"e71f9201.eae31","type":"tab","label":"Feature 3","disabled":false,"info":""},{"id":"12cedb4f.08acc5","type":"tab","label":"Feature 4","disabled":false,"info":""},{"id":"d4eaf2fc.cf59","type":"tab","label":"Feature 5","disabled":false,"info":""},{"id":"e1616120.c0773","type":"tab","label":"Feature 6","disabled":false,"info":""},{"id":"c626a14d.7239c","type":"tab","label":"Feature 7","disabled":false,"info":""},{"id":"2ac57e5.b47f782","type":"tab","label":"Feature 8","disabled":false,"info":""},{"id":"6a75e065.e09","type":"tab","label":"Feature 9","disabled":false,"info":""},{"id":"97a578fb.a465c8","type":"tab","label":"Feature 11","disabled":false,"info":""},{"id":"7ea970b9.00962","type":"tab","label":"Feature 12","disabled":false,"info":""},{"id":"aeaca79.5d61258","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"","name":""},{"id":"5d8b85ac.6515ec","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"96fa5601.fe0468","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"3f06d21b.70a2fe","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"fcd1eef6.c4d2b","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"49912f19.d94a","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"cc5ab683.99ec78","type":"mongodb","hostname":"localhost","topology":"direct","connectOptions":"","port":"localhost","db":"AppointmentDB","name":"AppointmentDB"},{"id":"882a5f20.aa82e","type":"mongodb","hostname":"localhost","port":"27017","db":"myDimosDB","name":"myDimosDB"},{"id":"745de40f.c6750c","type":"mongodb","hostname":"localhost","port":"27017","db":"myDimosDB","name":"myDimosDB"},{"id":"946888ef.8656b8","type":"mongodb","hostname":"localhost","port":"27017","db":"myDimosDB","name":"myDimosDB"},{"id":"937ff359.e49bf","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"8003eca6.f4157","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"68b172f8.3217ac","type":"mongodb","hostname":"localhost","port":"27017","db":"test","name":""},{"id":"88d1e8c1.3d33b8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"ff20b83e.818378","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"2b10e2ba.98021e","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"cb29d23e.689b8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"31e3fba4.839214","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"9096dc71.7d3f2","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"e193fc90.18599","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"d48aaa9a.32a4a8","type":"mongodb","hostname":"localhost","port":"27017","db":"test","name":""},{"id":"b1257b5f.866c58","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"9dd4887a.0320a8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"d2dd844.ab4c978","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"5daab59b.49b0fc","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"7c7e0af.79825f4","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"425acc31.2d0d94","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"313b56ea.1b75fa","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"55e73c4d.b75714","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"ed820f12.cf2d8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"5c2673c9.2a12bc","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"c0b7c789.f6f5a8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"c59e86e0.73cb68","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"26dc4248.c326ce","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"1c848c00.6ff954","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"141c1e5d.757972","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"4ebd5c8c.fcdd64","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"f408275d.5e8968","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"916bca58.2c6df8","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"f325652c.9a4ff8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"3f74fcbb.3550b4","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"f5a8f90b.25bf48","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"437215d5.24ca1c","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"794f779f.b230f8","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"81181d76.c9ac5","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"bfe8fe8.47337","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"96c8508.0b393b","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"1570ba30.aff246","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"ec274de0.8ad23","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"c48c387b.f2da08","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"496156c4.4b0d18","type":"mongodb","hostname":"r4a-nodered-mongo","port":"27017","db":"test","name":""},{"id":"e0d0ee1.c66da1","type":"mongodb","hostname":"localhost","topology":"direct","connectOptions":"","port":"localhost","db":"DoctorDB","name":"DoctorDB"},{"id":"1678a690.7f2bf9","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"PatientDB","name":"PatientDB"},{"id":"2946d8a.5db9c28","type":"inject","z":"d4eaf2fc.cf59","name":"Send request for medical folder access","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"r_id\" : 3, \"sender_id\" : 4, \"receiver_id\" : 127, \"message_id\" : 5, \"accepted\" : null}","payloadType":"json","x":190,"y":220,"wires":[["19a2ada0.9f10f2"]]},{"id":"19a2ada0.9f10f2","type":"http request","z":"d4eaf2fc.cf59","name":"postAccess Request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://localhost:1880/user/doctor/4/request?p_id=127","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":220,"wires":[["4dd9fa9b.2f4ce4"]]},{"id":"1945c405.cccd4c","type":"debug","z":"d4eaf2fc.cf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"4dd9fa9b.2f4ce4","type":"json","z":"d4eaf2fc.cf59","name":"","property":"payload","action":"","pretty":false,"x":690,"y":220,"wires":[["1945c405.cccd4c"]]},{"id":"9d2cc00c.58919","type":"inject","z":"12cedb4f.08acc5","name":"Search Patient","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"json","x":120,"y":240,"wires":[["19165300.42fb9d"]]},{"id":"19165300.42fb9d","type":"http request","z":"12cedb4f.08acc5","name":"getPatientInfo Request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://localhost:1880//user/doctor/4/patient/027","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":240,"wires":[["ee753a4.57492c8"]]},{"id":"c6427685.2b0a58","type":"debug","z":"12cedb4f.08acc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"ee753a4.57492c8","type":"json","z":"12cedb4f.08acc5","name":"","property":"payload","action":"","pretty":false,"x":590,"y":240,"wires":[["c6427685.2b0a58"]]},{"id":"6cce97bc.991998","type":"change","z":"e29c53f2.1fd21","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":160,"wires":[["51891dac.df32f4"]]},{"id":"51891dac.df32f4","type":"http response","z":"e29c53f2.1fd21","name":"http response","statusCode":"200","headers":{},"x":1160,"y":160,"wires":[]},{"id":"254379de.a7ec46","type":"http in","z":"3fb0629f.a5e62e","name":"Delete unregistered patient(as doctor)","url":"/user/doctor/:d_id/patient/:p_id","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["2f1b2117.9982ee","9ab044a0.1dd628"]]},{"id":"3c1a167.750c5ea","type":"comment","z":"3fb0629f.a5e62e","name":"DELETE /user/doctor/{d_id}/patient/{p_id}","info":"","x":220,"y":80,"wires":[]},{"id":"95d00375.41668","type":"http response","z":"3fb0629f.a5e62e","name":"http response","statusCode":"200","headers":{},"x":720,"y":220,"wires":[]},{"id":"2f1b2117.9982ee","type":"change","z":"3fb0629f.a5e62e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["95d00375.41668"]]},{"id":"9515a737.de3f78","type":"comment","z":"db56141.a9791e8","name":"PUT /user/doctor/{d_id}/patient/{p_id}","info":"","x":310,"y":60,"wires":[]},{"id":"46a66422.9c0d9c","type":"http in","z":"db56141.a9791e8","name":"Change unregistered patient information(as doctor)","url":"/user/doctor/:d_id/patient/:p_id","method":"put","upload":false,"swaggerDoc":"","x":230,"y":240,"wires":[["967b6958.73a9b8","6f14b8e6.d76cc8"]]},{"id":"2c8e41aa.f955be","type":"http response","z":"db56141.a9791e8","name":"http response","statusCode":"200","headers":{},"x":800,"y":240,"wires":[]},{"id":"967b6958.73a9b8","type":"change","z":"db56141.a9791e8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["2c8e41aa.f955be"]]},{"id":"6f14b8e6.d76cc8","type":"mongodb out","z":"db56141.a9791e8","mongodb":"aeaca79.5d61258","name":"UnregisteredPatientDB","collection":"","payonly":false,"upsert":false,"multi":true,"operation":"update","x":580,"y":160,"wires":[]},{"id":"9ab044a0.1dd628","type":"mongodb out","z":"3fb0629f.a5e62e","mongodb":"aeaca79.5d61258","name":"UnregisteredPatientDB","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":500,"y":140,"wires":[]},{"id":"da57028a.d76f5","type":"inject","z":"e1616120.c0773","name":"Modify patient's medical history(registered)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"p_id\":\"145445\",\"description\":\"The patient has been diagnosed with schizophrenia and bipolar disorder\",\"Allergies\":\"Peanuts, Nuts, Milk, Vanilla Flavoured Hookah\",\"Operations\":\"Hair transplant, Eyelid tatoo, six-pack implants\",\"files\":\"photo.jpg, video.mp4\"}","payloadType":"json","x":220,"y":200,"wires":[["294aa2c8.7346be"]]},{"id":"294aa2c8.7346be","type":"http request","z":"e1616120.c0773","name":"putMedicalHistory(reg) Request","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://localhost:1880/user/patient/127/medicalfolder","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":200,"wires":[["ebaecc2a.278c7"]]},{"id":"a3194635.5dd208","type":"debug","z":"e1616120.c0773","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":260,"wires":[]},{"id":"a73db406.d6c278","type":"inject","z":"e1616120.c0773","name":"Modify patient's medical history(unregistered)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"p_id\":\"045445\",\"description\":\"The patient has been diagnosed with schizophrenia and bipolar disorder\",\"Allergies\":\"Peanuts, Nuts, Milk, Vanilla Flavoured Hookah\",\"Operations\":\"Hair transplant, Eyelid tatoo, six-pack implants\",\"files\":\"photo.jpg, video.mp4\"}","payloadType":"json","x":210,"y":300,"wires":[["fbd3c97b.67a5d8"]]},{"id":"fbd3c97b.67a5d8","type":"http request","z":"e1616120.c0773","name":"putMedicalHistory(unreg) Request","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://localhost:1880/user/doctor/4/patient/027/medicalfolder","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":300,"wires":[["ebaecc2a.278c7"]]},{"id":"7e77eaad.8b9854","type":"comment","z":"e29c53f2.1fd21","name":"GET /user/doctor/{d_id}/patient/{p_id}","info":"","x":210,"y":80,"wires":[]},{"id":"670ba300.8b3dec","type":"http in","z":"e29c53f2.1fd21","name":"Get patient information(as doctor)","url":"/user/doctor/:d_id/patient/:p_id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["98832104.6648c"]]},{"id":"98832104.6648c","type":"switch","z":"e29c53f2.1fd21","name":"checkCategory","property":"req.params.p_id","propertyType":"msg","rules":[{"t":"regex","v":"^1.","vt":"str","case":false},{"t":"regex","v":"^0.","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":160,"wires":[["b49c5e96.74a8b"],["491908ca.c3a9e8"]]},{"id":"b49c5e96.74a8b","type":"mongodb in","z":"e29c53f2.1fd21","mongodb":"aeaca79.5d61258","name":"findPatientInRegDB","collection":"","operation":"find","x":710,"y":80,"wires":[["6cce97bc.991998"]]},{"id":"491908ca.c3a9e8","type":"mongodb in","z":"e29c53f2.1fd21","mongodb":"aeaca79.5d61258","name":"findPatientInUnregDB","collection":"","operation":"find","x":720,"y":240,"wires":[["6cce97bc.991998"]]},{"id":"e1e45795.e86748","type":"http in","z":"925ec265.a5425","name":"Get patient information(as registered patient)","url":"/user/patient/:p_id","method":"get","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["4ce1b422.30309c"]]},{"id":"4ce1b422.30309c","type":"mongodb in","z":"925ec265.a5425","mongodb":"aeaca79.5d61258","name":"findPatientInRegDB","collection":"","operation":"find","x":530,"y":260,"wires":[["20dfa38a.231e4c"]]},{"id":"a99ce609.890968","type":"comment","z":"925ec265.a5425","name":"GET /user/patient/{p_id}","info":"","x":180,"y":160,"wires":[]},{"id":"4de2c951.f1f108","type":"http response","z":"925ec265.a5425","name":"http response","statusCode":"200","headers":{},"x":980,"y":260,"wires":[]},{"id":"20dfa38a.231e4c","type":"change","z":"925ec265.a5425","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["4de2c951.f1f108"]]},{"id":"4307fdaf.12a5e4","type":"http in","z":"b8765d15.2e193","name":"Change patient medical folder information(as doctor)","url":"/user/doctor/:d_id/patient/:p_id/medicalfolder","method":"put","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["9228a745.942e88","3206f9f8.862a36"]]},{"id":"6b49b671.a68168","type":"comment","z":"b8765d15.2e193","name":"PUT /user/doctor/{d_id}/patient/{p_id}/medicalfolder","info":"","x":250,"y":60,"wires":[]},{"id":"5bf222e8.1d07dc","type":"http response","z":"b8765d15.2e193","name":"http response","statusCode":"200","headers":{},"x":820,"y":180,"wires":[]},{"id":"9228a745.942e88","type":"change","z":"b8765d15.2e193","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["5bf222e8.1d07dc"]]},{"id":"3206f9f8.862a36","type":"mongodb out","z":"b8765d15.2e193","mongodb":"aeaca79.5d61258","name":"UnregPatientDB","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"update","x":580,"y":100,"wires":[]},{"id":"ebaecc2a.278c7","type":"json","z":"e1616120.c0773","name":"","property":"payload","action":"","pretty":false,"x":830,"y":260,"wires":[["a3194635.5dd208"]]},{"id":"5c594f17.161e6","type":"http in","z":"de96a13.ceab86","name":"Edit an appointment(as a doctor)","url":"/user/doctor/:d_id/calendar/appointment/:a_id","method":"put","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["7c2393c.477746c","e30e1a95.4c0128"]]},{"id":"8b7a0481.8132f8","type":"http response","z":"de96a13.ceab86","name":"response","statusCode":"200 ","headers":{},"x":800,"y":220,"wires":[]},{"id":"a5ae04e5.749b78","type":"comment","z":"de96a13.ceab86","name":"PUT /user/doctor/{d_id}/calendar/appointment/{a_id}","info":"","x":270,"y":120,"wires":[]},{"id":"7c2393c.477746c","type":"mongodb out","z":"de96a13.ceab86","mongodb":"cc5ab683.99ec78","name":"DoctorDB","collection":"appointment","payonly":false,"upsert":false,"multi":false,"operation":"store","x":620,"y":140,"wires":[]},{"id":"4b176ee6.f2388","type":"debug","z":"de96a13.ceab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"e30e1a95.4c0128","type":"change","z":"de96a13.ceab86","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["8b7a0481.8132f8","4b176ee6.f2388"]]},{"id":"1463f75.0da5c09","type":"comment","z":"312d1536.b219ba","name":"POST /user/doctor/{d_id}/calendar/appointment","info":"","x":300,"y":140,"wires":[]},{"id":"11a7ad1b.b041c3","type":"http in","z":"312d1536.b219ba","name":"Doctor Create Appointment (calendar)","url":"/user/doctor/:d_id/calendar/appointment","method":"post","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["de78ab9d.53ea58","bf39a6e2.0e55c8","8c24b55a.2c5b78"]]},{"id":"de78ab9d.53ea58","type":"change","z":"312d1536.b219ba","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["9fc143fd.613ad"]]},{"id":"bf39a6e2.0e55c8","type":"mongodb out","z":"312d1536.b219ba","mongodb":"cc5ab683.99ec78","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":580,"y":180,"wires":[]},{"id":"9fc143fd.613ad","type":"http response","z":"312d1536.b219ba","name":"response","statusCode":"200","headers":{},"x":760,"y":240,"wires":[]},{"id":"8c24b55a.2c5b78","type":"debug","z":"312d1536.b219ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":300,"wires":[]},{"id":"fa199a7d.24ab98","type":"comment","z":"6a52b8ad.c36108","name":"DELETE /user/doctor/{d_id}/calendar/appointment/{a_id}","info":"","x":300,"y":120,"wires":[]},{"id":"b153a65c.be47a8","type":"http in","z":"6a52b8ad.c36108","name":"Delete Appointment","url":"/user/doctor/:d_id/calendar/appointment/:a_id","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["122d7f8c.f3ee1","5bf8e6c8.7977c8","174abace.036915"]]},{"id":"122d7f8c.f3ee1","type":"change","z":"6a52b8ad.c36108","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["2a3f3d13.592bb2"]]},{"id":"2a3f3d13.592bb2","type":"http response","z":"6a52b8ad.c36108","name":"response","statusCode":"","headers":{},"x":840,"y":220,"wires":[]},{"id":"5bf8e6c8.7977c8","type":"mongodb out","z":"6a52b8ad.c36108","mongodb":"cc5ab683.99ec78","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":680,"y":160,"wires":[]},{"id":"174abace.036915","type":"debug","z":"6a52b8ad.c36108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":280,"wires":[]},{"id":"e71a549c.b53d88","type":"comment","z":"3a47e2c3.367e0e","name":"PUT /user/patient/{p_id}/appointment/{a_id}","info":"","x":270,"y":140,"wires":[]},{"id":"93fd12ac.53be4","type":"http in","z":"3a47e2c3.367e0e","name":"Patient Edit Appointment","url":"/user/patient/:p_id/appointment/:a_id","method":"put","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["31423882.059df8","12f774b5.03c28b"]]},{"id":"e22462e7.2b6b5","type":"http response","z":"3a47e2c3.367e0e","name":"response","statusCode":"","headers":{},"x":840,"y":240,"wires":[]},{"id":"31423882.059df8","type":"mongodb out","z":"3a47e2c3.367e0e","mongodb":"cc5ab683.99ec78","name":"DoctorDB","collection":"appointment","payonly":false,"upsert":false,"multi":false,"operation":"store","x":640,"y":160,"wires":[]},{"id":"79be3556.364edc","type":"debug","z":"3a47e2c3.367e0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"12f774b5.03c28b","type":"change","z":"3a47e2c3.367e0e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["e22462e7.2b6b5","79be3556.364edc"]]},{"id":"c0cffd16.89613","type":"comment","z":"aafe6ff6.2b3cc","name":"POST /user/doctor/{d_id}/appointment","info":"","x":290,"y":120,"wires":[]},{"id":"3a120d24.7ac422","type":"http in","z":"aafe6ff6.2b3cc","name":"Create Appointment ","url":"/user/doctor/:d_id/appointment","method":"post","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["f63e2a19.d11068","f6cccc75.ca4df","5f3760ee.37187"]]},{"id":"f63e2a19.d11068","type":"change","z":"aafe6ff6.2b3cc","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":220,"wires":[["df309fbf.a5c28"]]},{"id":"f6cccc75.ca4df","type":"mongodb out","z":"aafe6ff6.2b3cc","mongodb":"cc5ab683.99ec78","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":580,"y":160,"wires":[]},{"id":"df309fbf.a5c28","type":"http response","z":"aafe6ff6.2b3cc","name":"response","statusCode":"200","headers":{},"x":780,"y":220,"wires":[]},{"id":"5f3760ee.37187","type":"debug","z":"aafe6ff6.2b3cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"be86cb77.4d4b58","type":"inject","z":"40c567a1.b88058","name":"DoctorEditAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"4\",\"a_id\":\"2\",\"name\":\"Malakoulis.\",\"date\":\"4/3/2021\",\"time\":\"10:53\",\"duration\":\"2h\",\"comments\":\"floriasi\",\"notification\":{\"type\":\"e-mail\",\"time\":\"1h\"}}","payloadType":"json","x":180,"y":380,"wires":[["9be85fbb.41f85"]]},{"id":"daf89f89.7b718","type":"inject","z":"40c567a1.b88058","name":"CreateAppointment (calendar)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"4\",\"name\":\"Malakoulis.\",\"date\":\"4/3/2021\",\"time\":\"12:30\",\"duration\":\"1h\",\"comments\":\"floriasi\",\"notification\":{\"type\":\"popup\",\"time\":\"30 min\"}}","payloadType":"json","x":160,"y":300,"wires":[["412927d3.85e038"]]},{"id":"1f19d4f7.b04a2b","type":"inject","z":"40c567a1.b88058","name":"DeleteAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"4\",\"a_id\":\"2\"}","payloadType":"json","x":190,"y":420,"wires":[["6d39f4e0.90672c"]]},{"id":"dfa9f634.b21578","type":"inject","z":"40c567a1.b88058","name":"CreateAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"4\",\"name\":\"Malakoulis.\",\"date\":\"4/3/2021\",\"time\":\"12:30\",\"duration\":\"1h\",\"comments\":\"floriasi\",\"notification\":{\"type\":\"popup\",\"time\":\"30 min\"}}","payloadType":"json","x":190,"y":340,"wires":[["992f7ab3.a540b8"]]},{"id":"992f7ab3.a540b8","type":"http request","z":"40c567a1.b88058","name":"Add ","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/appointment","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":340,"wires":[["527cbe8.e71014"]]},{"id":"9be85fbb.41f85","type":"http request","z":"40c567a1.b88058","name":"Edit","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/calendar/appointment/2","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":380,"wires":[["527cbe8.e71014"]]},{"id":"6d39f4e0.90672c","type":"http request","z":"40c567a1.b88058","name":"Delete","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/calendar/appointment/2","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":420,"wires":[["527cbe8.e71014"]]},{"id":"527cbe8.e71014","type":"debug","z":"40c567a1.b88058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"37fff4c0.8bff1c","type":"inject","z":"97a578fb.a465c8","name":"DoctorEditAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"4\",\"a_id\":\"2\",\"name\":\"Malakoulis.\",\"date\":\"4/3/2021\",\"time\":\"10:53\",\"duration\":\"2h\",\"comments\":\"floriasi\",\"notification\":{\"type\":\"e-mail\",\"time\":\"1h\"}}","payloadType":"json","x":260,"y":220,"wires":[["61dab2a6.a34e7c"]]},{"id":"61dab2a6.a34e7c","type":"http request","z":"97a578fb.a465c8","name":"DoctorEdit","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/calendar/appointment/2","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":220,"wires":[["1e341491.04beeb"]]},{"id":"1e341491.04beeb","type":"debug","z":"97a578fb.a465c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"872907f2.081358","type":"inject","z":"97a578fb.a465c8","name":"PatientEditAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"p_id\":\"34\",\"a_id\":\"2\",\"notification\":{\"type\":\"text message\",\"time\":\"2h\"}}","payloadType":"json","x":260,"y":300,"wires":[["24a2b37.ac9fc4c"]]},{"id":"24a2b37.ac9fc4c","type":"http request","z":"97a578fb.a465c8","name":"PatientEdit","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/patient/34/appointment/2","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":300,"wires":[["1e341491.04beeb"]]},{"id":"aa00dc5f.1d637","type":"comment","z":"97a578fb.a465c8","name":"FR-11: The doctor/registered patient must be able to edit their notification method for their appointment","info":"","x":520,"y":160,"wires":[]},{"id":"412927d3.85e038","type":"http request","z":"40c567a1.b88058","name":"Add (calendar)","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/calendar/appointment","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["527cbe8.e71014"]]},{"id":"cd395e4c.54672","type":"comment","z":"40c567a1.b88058","name":"FR-1: The doctor must be able to edit their scheduled appointments","info":"","x":350,"y":240,"wires":[]},{"id":"4070ad09.943d64","type":"comment","z":"12cedb4f.08acc5","name":"FR-4: The doctor must be able to search a patient","info":"","x":240,"y":100,"wires":[]},{"id":"16905393.7ab7bc","type":"comment","z":"d4eaf2fc.cf59","name":"FR-5:The doctor must be able to request access to view and modify a patient’s medical history","info":"","x":380,"y":100,"wires":[]},{"id":"e94b577f.6db9c8","type":"comment","z":"e1616120.c0773","name":"FR-6:The doctor must be able to modify their assigned patient's medical history","info":"","x":380,"y":80,"wires":[]},{"id":"49d9af42.4cb4a","type":"http in","z":"a081faba.f15178","name":"Edit Folder(as a doctor)","url":"/user/patient/:p_id/medicalfolder","method":"put","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["9d8e476f.31efb8","5778bd92.b546c4"]]},{"id":"8af05b9a.bec328","type":"http response","z":"a081faba.f15178","name":"Response","statusCode":"200","headers":{},"x":860,"y":160,"wires":[]},{"id":"dc79b9e.ce56448","type":"comment","z":"a081faba.f15178","name":"PUT /user/patient/{p_id}/medicalfolder","info":"","x":270,"y":80,"wires":[]},{"id":"9d8e476f.31efb8","type":"mongodb out","z":"a081faba.f15178","mongodb":"5d8b85ac.6515ec","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"update","x":680,"y":100,"wires":[]},{"id":"5778bd92.b546c4","type":"change","z":"a081faba.f15178","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["8af05b9a.bec328","f38c8c73.009b3"]]},{"id":"f38c8c73.009b3","type":"debug","z":"a081faba.f15178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"641c9782.6dcba8","type":"http in","z":"2053ecd1.4abcd4","name":"Access Folder Of Unregistered Patient(as a doctor)","url":"/user/doctor/:d_id/patient/:p_id/medicalfolder","method":"get","upload":false,"swaggerDoc":"","x":310,"y":140,"wires":[["bfe3f2a6.1a334"]]},{"id":"5c79ad98.7781b4","type":"comment","z":"2053ecd1.4abcd4","name":"GET /user/doctor/{d_id}/patient/{p_id}/medicalfolder","info":"","x":310,"y":80,"wires":[]},{"id":"de09ed28.d179e","type":"change","z":"2053ecd1.4abcd4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["3307629e.b8cbce","22af135d.74db5c"]]},{"id":"3307629e.b8cbce","type":"http response","z":"2053ecd1.4abcd4","name":"Response","statusCode":"200","headers":{},"x":1100,"y":140,"wires":[]},{"id":"bfe3f2a6.1a334","type":"mongodb in","z":"2053ecd1.4abcd4","mongodb":"cc5ab683.99ec78","name":"","collection":"","operation":"find","x":680,"y":140,"wires":[["de09ed28.d179e"]]},{"id":"22af135d.74db5c","type":"debug","z":"2053ecd1.4abcd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":240,"wires":[]},{"id":"a4681672.a50a28","type":"http in","z":"dc0788b9.cfb5d8","name":"Access Folder Of Registered Patient(as a doctor)","url":"/user/patient/:p_id/medicalfolder","method":"get","upload":false,"swaggerDoc":"","x":280,"y":120,"wires":[["fc7c5711.a4eb48"]]},{"id":"514f61af.bf003","type":"comment","z":"dc0788b9.cfb5d8","name":"GET /user/patient/{p_id}/medicalfolder","info":"","x":250,"y":60,"wires":[]},{"id":"51f200e5.1f789","type":"change","z":"dc0788b9.cfb5d8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":120,"wires":[["255ede7d.a3fa82","9a290086.7da18"]]},{"id":"255ede7d.a3fa82","type":"http response","z":"dc0788b9.cfb5d8","name":"Response","statusCode":"200","headers":{},"x":1120,"y":120,"wires":[]},{"id":"fc7c5711.a4eb48","type":"mongodb in","z":"dc0788b9.cfb5d8","mongodb":"aeaca79.5d61258","name":"PatientDB","collection":"","operation":"find","x":640,"y":120,"wires":[["51f200e5.1f789"]]},{"id":"9a290086.7da18","type":"debug","z":"dc0788b9.cfb5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":220,"wires":[]},{"id":"1bb034fc.aef08b","type":"http in","z":"bc586080.5c9d8","name":"Get Appointments(as a doctor)","url":"/user/doctor/:d_id/calendar","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["2d876ce.6f66f94"]]},{"id":"f62ceaef.750fc8","type":"comment","z":"bc586080.5c9d8","name":"GET /user/doctor/{d_id}/calendar","info":"","x":270,"y":80,"wires":[]},{"id":"a151b50.9189748","type":"change","z":"bc586080.5c9d8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[["6e744018.5e941","fd6f6c7.e61599"]]},{"id":"6e744018.5e941","type":"http response","z":"bc586080.5c9d8","name":"Response","statusCode":"200","headers":{},"x":1060,"y":160,"wires":[]},{"id":"2d876ce.6f66f94","type":"mongodb in","z":"bc586080.5c9d8","mongodb":"e0d0ee1.c66da1","name":"","collection":"","operation":"find","x":640,"y":160,"wires":[["a151b50.9189748"]]},{"id":"fd6f6c7.e61599","type":"debug","z":"bc586080.5c9d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1099,"y":241,"wires":[]},{"id":"3aa49270.19852e","type":"http in","z":"7e8e7e3e.24bd8","name":"Doctor Create Patient","url":"/user/doctor/:d_id/patient","method":"post","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["47cf1124.1b3c2","8cd8a1ff.8fda"]]},{"id":"8f2dc975.304108","type":"comment","z":"7e8e7e3e.24bd8","name":"POST /user/doctor/{d_id}/patient","info":"","x":290,"y":120,"wires":[]},{"id":"8cd8a1ff.8fda","type":"change","z":"7e8e7e3e.24bd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["401302.329f2d","d63eecb5.75f11"]]},{"id":"401302.329f2d","type":"http response","z":"7e8e7e3e.24bd8","name":"Response","statusCode":"200","headers":{},"x":840,"y":180,"wires":[]},{"id":"d63eecb5.75f11","type":"debug","z":"7e8e7e3e.24bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"47cf1124.1b3c2","type":"mongodb out","z":"7e8e7e3e.24bd8","mongodb":"e0d0ee1.c66da1","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":660,"y":100,"wires":[]},{"id":"11e49501.185c5b","type":"inject","z":"99789eb7.c44a5","name":"Doctor Get Appointments","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"d_id\":\"69\",\"id\":\"6\"}","payloadType":"str","x":390,"y":280,"wires":[["32de14ca.b899dc"]]},{"id":"32de14ca.b899dc","type":"http request","z":"99789eb7.c44a5","name":"Get Appointments","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/69420/calendar(?id=6)","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["8678df4a.fe254"]]},{"id":"8678df4a.fe254","type":"debug","z":"99789eb7.c44a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":280,"wires":[]},{"id":"fb2dc29f.1b791","type":"inject","z":"e71f9201.eae31","name":"Doctor Create Patient","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Name\":\"Nikos\",\"Lastname\":\"Karagkiozis\",\"UserID\":\"0\",\"AMKA\":\"04049900666\",\"email\":\"nick.kara4@yahoo.gr\",\"Telephone\":\"6969426942\",\"folder\":[\"Doodle\",\"Padoodle\"]}","payloadType":"json","x":260,"y":200,"wires":[["f357d71c.1290d8"]]},{"id":"f357d71c.1290d8","type":"http request","z":"e71f9201.eae31","name":"Create patient","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/42069/patient","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":200,"wires":[["78a36ce2.3a5754"]]},{"id":"78a36ce2.3a5754","type":"debug","z":"e71f9201.eae31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"b29e61eb.bbf9d","type":"comment","z":"99789eb7.c44a5","name":"FR-2: The doctor must be able to review their schedule","info":"","x":240,"y":220,"wires":[]},{"id":"50ccab6d.f493b4","type":"comment","z":"e71f9201.eae31","name":"FR-3: The doctor must be able to create a new patient history file","info":"","x":290,"y":120,"wires":[]},{"id":"6be59abc.b34844","type":"http in","z":"5ac7b397.1aeccc","name":"Request access for medical folder modification","url":"/user/doctor/:d_id/request","method":"post","upload":false,"swaggerDoc":"","x":350,"y":220,"wires":[["b9ef7f78.e5233","a2481127.4ab3c"]]},{"id":"9fc8ce9.b91f83","type":"http response","z":"5ac7b397.1aeccc","name":"http Response","statusCode":"200","headers":{},"x":1000,"y":220,"wires":[]},{"id":"38c2f8b6.7efcd8","type":"comment","z":"5ac7b397.1aeccc","name":"POST /user/doctor/{d_id}/request","info":"","x":310,"y":80,"wires":[]},{"id":"a2481127.4ab3c","type":"change","z":"5ac7b397.1aeccc","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":220,"wires":[["9fc8ce9.b91f83","2642fb7a.6a7c04"]]},{"id":"2642fb7a.6a7c04","type":"debug","z":"5ac7b397.1aeccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"5b9f01bf.cfb4d","type":"comment","z":"48fb8269.39534c","name":"POST /user/patient/{p_id}/request","info":"","x":290,"y":40,"wires":[]},{"id":"9b7a1dcd.b439c","type":"http in","z":"48fb8269.39534c","name":"Request appointment ","url":"/user/patient/:p_id/request","method":"post","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["b11de2d3.547e5","e4786561.69d058"]]},{"id":"c00c0602.12e838","type":"http response","z":"48fb8269.39534c","name":"http Response","statusCode":"200","headers":{},"x":920,"y":140,"wires":[]},{"id":"21684b3.bf4f5b4","type":"debug","z":"48fb8269.39534c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]},{"id":"e3f19443.f2fe58","type":"comment","z":"267d28c2.56b458","name":"PUT /user/doctor/{d_id}/request/{r_id}","info":"","x":310,"y":60,"wires":[]},{"id":"77b3192d.313f08","type":"http in","z":"267d28c2.56b458","name":"Respond to doctor's request for access to medical folder modification","url":"/user/doctor/:d_id/request/:r_id","method":"put","upload":false,"swaggerDoc":"","x":260,"y":200,"wires":[["91f66fec.858f","aef470ae.b8bae"]]},{"id":"a4bfbe62.5632a","type":"http response","z":"267d28c2.56b458","name":"http Response","statusCode":"200","headers":{},"x":900,"y":200,"wires":[]},{"id":"1531818d.656d4e","type":"debug","z":"267d28c2.56b458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"ef70aabe.0e2a78","type":"comment","z":"2392b033.6ff37","name":"GET /user/patient/{p_id}/appointment","info":"","x":300,"y":120,"wires":[]},{"id":"64d0cb3d.be6954","type":"http in","z":"2392b033.6ff37","name":"Review appointments","url":"/user/patient/:p_id/appointment","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["12111252.88d62e"]]},{"id":"61703fd6.3ec6f","type":"http response","z":"2392b033.6ff37","name":"http Response","statusCode":"200","headers":{},"x":1040,"y":180,"wires":[]},{"id":"b9ef7f78.e5233","type":"mongodb out","z":"5ac7b397.1aeccc","mongodb":"cc5ab683.99ec78","name":"DoctorDB","collection":"doctor","payonly":false,"upsert":false,"multi":false,"operation":"store","x":640,"y":140,"wires":[]},{"id":"b11de2d3.547e5","type":"mongodb out","z":"48fb8269.39534c","mongodb":"1678a690.7f2bf9","name":"RegisteredPatientDB","collection":"patient","payonly":false,"upsert":false,"multi":false,"operation":"store","x":600,"y":80,"wires":[]},{"id":"e4786561.69d058","type":"change","z":"48fb8269.39534c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["21684b3.bf4f5b4","c00c0602.12e838"]]},{"id":"aef470ae.b8bae","type":"change","z":"267d28c2.56b458","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["a4bfbe62.5632a","1531818d.656d4e"]]},{"id":"91f66fec.858f","type":"mongodb out","z":"267d28c2.56b458","mongodb":"cc5ab683.99ec78","name":"DoctorDB","collection":"doctor","payonly":false,"upsert":false,"multi":false,"operation":"store","x":640,"y":120,"wires":[]},{"id":"cccfa124.c9588","type":"change","z":"2392b033.6ff37","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":180,"wires":[["61703fd6.3ec6f","9e41c34a.5a2c9"]]},{"id":"9e41c34a.5a2c9","type":"debug","z":"2392b033.6ff37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"b7da3e53.08c1","type":"comment","z":"7220ec39.dac294","name":"PUT user/patient/{p_id}/request/{r_id}","info":"","x":290,"y":80,"wires":[]},{"id":"1ee818f5.ee53f7","type":"http in","z":"7220ec39.dac294","name":"Respond to patient's appointment request ","url":"/user/patient/:p_id/request/:r_id","method":"put","upload":false,"swaggerDoc":"","x":300,"y":200,"wires":[["8daeb0a9.5f22","8311df93.9cbb3"]]},{"id":"c730acdc.3e8d1","type":"http response","z":"7220ec39.dac294","name":"http Response","statusCode":"200","headers":{},"x":900,"y":200,"wires":[]},{"id":"8daeb0a9.5f22","type":"mongodb out","z":"7220ec39.dac294","mongodb":"1678a690.7f2bf9","name":"RegisteredPatientDB","collection":"patient","payonly":false,"upsert":false,"multi":false,"operation":"store","x":640,"y":120,"wires":[]},{"id":"8311df93.9cbb3","type":"change","z":"7220ec39.dac294","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["c730acdc.3e8d1","2e44cc42.c90334"]]},{"id":"2e44cc42.c90334","type":"debug","z":"7220ec39.dac294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"12111252.88d62e","type":"mongodb in","z":"2392b033.6ff37","mongodb":"1678a690.7f2bf9","name":"RegisteredPatientDB","collection":"patient","operation":"find","x":580,"y":180,"wires":[["cccfa124.c9588"]]},{"id":"5750c3e6.1f76dc","type":"http in","z":"2392b033.6ff37","name":"View specific appointment","url":"/user/patient/:p_id/appointment/:a_id","method":"get","upload":false,"swaggerDoc":"","x":270,"y":340,"wires":[["9c8b6982.ede9c8"]]},{"id":"f8d9bb7b.37b738","type":"http response","z":"2392b033.6ff37","name":"http Response","statusCode":"200","headers":{},"x":1080,"y":340,"wires":[]},{"id":"e2b1ea9a.8eda08","type":"change","z":"2392b033.6ff37","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.content-encoding","pt":"msg","to":"utf8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":340,"wires":[["f8d9bb7b.37b738","bf7f974a.7017a8"]]},{"id":"bf7f974a.7017a8","type":"debug","z":"2392b033.6ff37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"9c8b6982.ede9c8","type":"mongodb in","z":"2392b033.6ff37","mongodb":"1678a690.7f2bf9","name":"RegisteredPatientDB","collection":"patient","operation":"find","x":620,"y":340,"wires":[["e2b1ea9a.8eda08"]]},{"id":"8ae0fc7e.96c4c","type":"comment","z":"2392b033.6ff37","name":"GET /user/patient/:p_id/appointment/:a_id","info":"","x":320,"y":280,"wires":[]},{"id":"fcacee6.5b9f01","type":"inject","z":"c626a14d.7239c","name":"PatientAnswerInject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"r_id\":1,\"sender_id\":4,\"receiver_id\":8,\"message_id\":0,\"accepted\":true}","payloadType":"json","x":290,"y":240,"wires":[["5b53b410.f441bc"]]},{"id":"5b53b410.f441bc","type":"http request","z":"c626a14d.7239c","name":"putResponse Request","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/doctor/4/request/patient/8","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":240,"wires":[["813333ab.d392d"]]},{"id":"813333ab.d392d","type":"debug","z":"c626a14d.7239c","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"d1acfaf.e72f308","type":"comment","z":"c626a14d.7239c","name":"FR-7: The registered patient must be able to share their medical history with a doctor","info":"","x":470,"y":180,"wires":[]},{"id":"49c5df22.25b25","type":"inject","z":"2ac57e5.b47f782","name":"PatientRequestAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"r_id\":0,\"sender_id\":5,\"receiver_id\":12,\"message_id\":0}","payloadType":"json","x":340,"y":240,"wires":[["12257017.0298f"]]},{"id":"12257017.0298f","type":"http request","z":"2ac57e5.b47f782","name":"postAppointment Request","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/patient/5/request","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":240,"wires":[["e38ac3cc.af68d"]]},{"id":"e38ac3cc.af68d","type":"debug","z":"2ac57e5.b47f782","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"9b5a38d6.508d88","type":"comment","z":"2ac57e5.b47f782","name":"FR-8: The registered patient must be able to request an appointment at an available time and date ","info":"","x":550,"y":180,"wires":[]},{"id":"fa729b54.30f378","type":"comment","z":"6a75e065.e09","name":"FR-9: The doctor must be able to accept/reject a request for appointment","info":"","x":440,"y":240,"wires":[]},{"id":"dce5a1e1.822b2","type":"inject","z":"6a75e065.e09","name":"DoctorRespond","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"r_id\":1,\"sender_id\":5,\"receiver_id\":6,\"message_id\":0}","payloadType":"json","x":270,"y":300,"wires":[["504a14ee.6a302c"]]},{"id":"504a14ee.6a302c","type":"http request","z":"6a75e065.e09","name":"putResponse","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/patient/5/request/1","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":300,"wires":[["24fe1751.7eca18"]]},{"id":"24fe1751.7eca18","type":"debug","z":"6a75e065.e09","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"863e7c17.d4a3f","type":"comment","z":"7ea970b9.00962","name":"FR-12: The registered patient must be able to see their scheduled appointments","info":"","x":580,"y":260,"wires":[]},{"id":"a8e87168.19e8a","type":"inject","z":"7ea970b9.00962","name":"PatientReviewAppointments","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":420,"y":320,"wires":[["cc2381c6.1f146"]]},{"id":"cc2381c6.1f146","type":"http request","z":"7ea970b9.00962","name":"getAppointments","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/user/patient/5/appointment","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":320,"wires":[["b70ec7ac.a8fb28"]]},{"id":"2419bc82.80e324","type":"inject","z":"7ea970b9.00962","name":"PatientReviewAppointment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a_id\":\"9\"}","payloadType":"json","x":410,"y":400,"wires":[["45274f5a.f4e4c"]]},{"id":"45274f5a.f4e4c","type":"http request","z":"7ea970b9.00962","name":"getAppointment","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/user/patient/5/appointment/9","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":400,"wires":[["b70ec7ac.a8fb28"]]},{"id":"b70ec7ac.a8fb28","type":"debug","z":"7ea970b9.00962","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]}]